@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap');

.nav-bar{
    width: 100%;
    height: 11vh;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    color:#fff;
    align-items: center;
    z-index: 9999;
    justify-content: space-between;
    position: relative;

}

.nav-logo{
    text-align: start;
    color:blueviolet;
}

.nav-bar b{
    font-size: 42px;
    font-family: 'Courier New', Courier, monospace;
}

.nav-list .list{
list-style: none;
display: flex;
flex-direction: row;
gap:25px;
cursor: pointer;;}

.nav-list{
position: absolute;
right: 30px;}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.well-block {
    background-color: #fff;
    border: 1px solid #e9e6e8;
    padding: 40px;
}

.well-title {
    margin-bottom: 40px;
}

.row{
    padding:2rem 1rem;
    gap:2rem;
    border-radius: .3rem;
    border: .3px solid black;
}

.footer-distributed{
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
  position: static;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  black;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color:  #fff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color:  black;
	vertical-align: middle;
	margin:0;
	margin-top: 2rem;
}



.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:    #6689ff;
	text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-section{
	background-color: rgb(1, 1, 31);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:16px;
	width: 97%;
	height: 70vh;
	border-radius: .7rem;
	position: relative;
	left:1%;
}

.footer-section h2{
	font-size: 52px;
	color: #fff;
}

.footer-section a{
	background-color: purple;
	color: #fff;
	padding: 10px 15px;
border-radius: 1rem;
list-style: none;
text-decoration-style: none;
list-style-type: none;
}

.productt{
    display: flex;
    flex-direction: column;
    gap:29px;
}

.productt-sec{
    display: flex;
    flex-direction: row;
}

.browse-bag{
    display:grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 30px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 15px;
  padding:20px;
  gap:140px;
}

.browse-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:12px;
    position: relative;
    min-height: 27vh;
    border-top-right-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    cursor: pointer;
    border: .3px solid black;
    padding: 1rem 2rem;
    }

    .browse-box img{
        width: 12vh;
        height: 12vh;
        margin-left: 17px;
        border-radius: 50%;
    }

    .browse-box h2{
        font-size: 29px;
    }

    .productt-board{
        width: 96%;
        height: 40vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color:   #6689ff;
       
    }

    .productt-board h2{
        text-align: center;
        font-size: 55px;
        color:black;
        }

    .productt-board img{
        width: 29vh;
        height: 29vh;
        border-radius: 50%;
    }

    .productt-sec{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:130px;
    }

.about h2{
    font-size: 44px;
}


    .about{
        display: flex;
        flex-direction: column;
        gap:18px;
        padding:2rem 3rem;
    }

    .about img{
width: 42vh;
height: 22vh;
    }

    .sender{
        display:flex;
        flex-direction: column;
        gap:11px;
        padding: 6rem 3rem;
        border-radius: .6rem;
        
    }

    .dpf-input{
        display: flex;
        flex-direction: column;
    }

    .dpf-input input{
        padding: 9px 17px;
        border-radius: .8rem;
        width: 26vh;
        height: 28px;
    }

    .sender button{
        padding: 9px 29px;
        background-color: #8f9296;
        color:#fff;
        border-radius: .9rem;
    }

    .nav-browse{
        display: flex;
        flex-direction: row;
       justify-content: space-between;
    }

    .nav-browse a{
        padding: 12px 18px;
        border: .1rem solid black;
        color:#948d8d;
        border-radius: .8rem;
        cursor: pointer;
    }
    @media all and (max-width:600px) and (min-width:300px){
        .productt-sec{
            display: flex;
            flex-direction: column;
            padding: 6rem 4rem;
        }

        .footer-distributed{
            display: flex;
            flex-direction: column;
        }

        .product-board img{
width: 11vh;
height: 11vh;
        }

        .product-board h2{
            font-size: 1.825rem;
        }

        .product-board{
            display: flex;
            flex-direction: column;
        }
    }
